[Unit]
Description=/etc/rc.local
ConditionPathExists=/etc/rc.local
After=systemd-networkd.service sshd.service

[Service]
Type=forking
ExecStart=/etc/rc.local
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
